
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/shop">shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/magazine">Magazine</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <span><i class="fa fa-fw fa-search pr-sm-2"></i></span><input
                class="form-control fa fa-fw fa-search mr-sm-2" style="width: 85% !important" type="search"
                placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <i class="fa fa-shopping-cart"></i>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- <div class="container-fluid">
    <div class="row content">
        <div class="col-md-3 sidenav no-print" style="padding:0px;" id="sideNavbar">
            HELLO
        </div>
        <div class="col-xs-1 hide_panel" style="padding:1px;" id="pin">
            <div style="border:1px solid silver;overflow:hidden;">
                <div class="col cus">
                    <i id="users-icon" class="fa fa-users"
                        style="float: right;font-size: 20px;color: #3067DB;padding:5px;" 
                        aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col"  id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->