<p>shop works!</p>
<div class="cardDetail">
    <div class="leftCard">
        <div class="card-img">
            <img
                src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
        </div>
    </div>

    <div class="rightCard">
        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <p class="card-title text-size">
                        Crad Title
                    </p>
                </div>
                <div class="card-info">
                    <p class=" text-size"> catrd min content bjsghjdghjsbfsjdhjdfsDFSfdsfddfsdfsfdsdfsdfsfds

                        bjsghjdghjsbfsjdhjdfsDFSfdsfddfsdfsfdsdfsdfsfds
                        bjsghjdghjsbfsjdhjdfsDFSfdsfddfsdfsfdsdfsdfsfds
                        bjsghjdghjsbfsjdhjdfsDFSfdsfddfsdfsfdsdfsdfsfds
                        fds

                        bjsghjdghjsbfsjdhjdfsDFSfdsfddfsdfsfdsdfsdfsfds
                    </p>

                </div>
                <div class="item-color">
                    <h6>COlor</h6>
                    <p> COloures Radio</p>
                </div>

                <div class="item-footer">
                    <div class="item-price">
                        <h6>price</h6>
                        <p>$2600</p>
                    </div>

                    <button class="item-btn">BUY NOW</button>
                </div>

            </div>
        </div>
    </div>
</div>