
<div class="card-gallery">
    <div class="mainCardBox">
        <div class="cards">
            <div class="card" *ngFor="let item of returnedArray; let i = index" >
                <div class="card-image-container" (click)="cardSelectionFn(item.id)">
                    <img
                        src={{item.url}} alt="Image">
                </div>
                <div class="card-content">
                    <p class="card-title text-size">
                        {{item.title}}
                    </p>
                </div>
                <div class="card-info">
                    <p class=" text-size card-subtitle"> {{item.type | uppercase}}</p>
                    <p class="card-price text-size" > {{item.price}}</p>
                </div>
                <div class="card-rating">
                    <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="false"></ngb-rating>
                    <i class="card-cart fa fa-cart-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" *ngIf="this.returnedArray &&  this.returnedArray.length>0" style="margin-left: 40px;">
    <div class="col-xs-12 col-12">
        <pagination [totalItems]="members.length" (pageChanged)="pageChanged($event)"
            [(ngModel)]="currentPage" [boundaryLinks]="false" previousText="&lsaquo;" nextText="&rsaquo;"  (numPages)="smallnumPages = $event" [itemsPerPage]="6" pageBtnClass="btn"
            class="pull-left">
        </pagination>
    </div>
</div>

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "white" type = "ball-scale-multiple"></ngx-spinner>

