<div class="mainContainer">
    <div class="sidenavContainer">
        <div class="sidenavContent">
            Hello
        </div>
    </div>
    <div class="card-gallery">
        <div class="mainCardBox">
            <div class="cards">
                <div class="card" (click)="cardSelectionFn(1)">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image-container">
                        <img
                            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80">
                    </div>
                    <div class="card-content">
                        <p class="card-title text-size">
                            Crad Title
                        </p>
                    </div>
                    <div class="card-info">
                        <p class=" text-size"> catrd min content</p>
                        <p class="card-price text-size"> $2400</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div *ngFor="let members of returnedArray ">{{members.content }}
</div>


<div class="row">
    <div class="col-xs-12 col-12">
        <pagination [directionLinks]="false" [totalItems]="members.length"  (pageChanged)="pageChanged($event)"
            [(ngModel)]="currentPage" (numPages)="smallnumPages = $event" [itemsPerPage]="3"  pageBtnClass="btn"
            class="pull-left">
        </pagination>
    </div>
</div>

<!-- <ng-pagination [position]="'left'" [pageSize]="3" [itemsCount]="12" [data]="members" (getPageData)="getPageData($event)"></ng-pagination> -->